{% extends "base_template.html" %}
{% block content %}
<p>{{ error_message }}</p>
<p><b>Выберите пользователя из списка</b></p>
  <form action="add_user" method="post" name="visitor">
    <select name="user_id">
      {% for person in persons %}
        <option value="{{ person["user_id"] }}">
          {{person["First_name"] + ' ' + person["Last_name"]}}
        </option>
      {% endfor %}
    </select>
    <p>Укажите, сколько часов данный сотрудник хотел бы поработать (от 1 до 10 часов):</p>
    <input type="number" name="working_hours" min="1" max="10" value="1">
    <p><input type="submit" value="Отправить"></p>
  </form>

{% endblock %}
