{% extends "base_template.html" %}
{% block content %}
<p>{{ error_message }}</p>
<p><h4>Выберите пользователя из списка</h4></p>
  <form action="user_info" method="post" name="visitor">
    <select name="selected_user">
      {% for person in users_list %}
        <option value="{{ person["user_id"] }}">
          {{person["First_name"] + ' ' + person["Last_name"]}}
        </option>
      {% endfor %}
    </select>
    <p><input type="submit" value="Отправить"></p>
  </form>
    {% if selected_user > -1 %}
<hr>
      <h4><b>Информация о пользователе</b></h4>
<br>
Имя: <b>{{ users_list[selected_user]["First_name"] }}</b> <br>
Фамилия: <b>{{ users_list[selected_user]["Last_name"] }}</b> <br>
Осталось рабочих часов: <b>{{ users_list[selected_user]["R_work_time"] }}</b> <br>
Всего отработано часов: <b>{{ users_list[selected_user]["Work_hours"] }}</b> <br>
      {% if not users_list[selected_user]["Office"] is none %}
Пользователь работает в офисе номер: <b>{{ users_list[selected_user]["Office"] }}</b>
      {% else %}
        Пользователь в настояшее время не работает в офисе
      {% endif %}
      <br>
      {% if not users_list[selected_user]["Queue"] is none %}
<b>Пользователь находится в очереди.</b>
      {% else %}
        Пользователь в настоящее время не в очереди.
      {% endif %}
      <br>
    {% endif %}

{% endblock %}
