:root {
    box-sizing: border-box;
    



    /* error */
    --error-backgroud: rgba(241, 9, 55, 0.541);
    --error-font-title: 36px;
    --error-text-color: #fff;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

